# NPM Libaries
node_modules/*
package.json

# SDK Artifacts
tsconfig.tsbuildinfo
.eslintcache

# AWS SAM
.aws-sam/*
template.yml
buildspec.yml
resources/envVars.json

# Yarn 2
.yarn/*
.yarnrc.yml
yarn.lock

# Prettier
.prettierrc

# Idea
*.iml

# Visual Studio Code
.vscode/*