# NPM Libaries
node_modules/*

# SDK Artifacts
tsconfig.tsbuildinfo
.eslintcache

# AWS SAM
.aws-sam/*
resources/values/envVars.json

# Yarn 2
.yarn/*
!.yarn/releases/
!.yarn/plugins/
!.yarn/versions/
!.yarn/sdks/

# Idea
*.iml
*.idea

# Visual Studio Code
.vscode/*
