# Javascript
**/*.js

# SDK Artifacts
tsconfig.tsbuildinfo
.eslintcache

# NPM
node_modules/*
package.json

# AWS SAM
.aws-sam/*

# Yarn 2
.yarn/*
.yarnrc.yml
yarn.lock

# Idea
*.iml

# Visual Studio Code
.vscode/*